body,html{
    font-family: 'Roboto', sans-serif;
    height: 100%;
    background-color: linear-gradient(45deg ,rgba(236, 214, 214, 0.799), rgba(212, 232, 194, 0.858));
}

#card-list {
    display:flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}